<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>x의 값은 <%=x%>입니다.</div>
    <div>y의 값은 <%=y%>입니다.</div>
    <div>e의 값은 <%=E%>입니다.</div>   
</body>
</html>