<form action="/auth/login" method="post">
    <input type="text" placeholder="ID" name="id">
    <input tpype="password" placeholder="Password" name="password">
    <button type="submit">Login</button>
</form>